{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy"
  ],
  "env": {
    "production": {
      "plugins": [
        ["transform-react-remove-statics", {
          "displayName": true,
          "styleguide": true
        }]
      ],
    }
  }
}
