.button {
  composes: box from "../common/layout.css";
  color: white;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  margin-right: 8px;
  padding: 10px;
}

.positive {
  composes: button;
  background: green;
}

.negative {
  composes: button;
  background: red;
}

.text {
  font-size: 16px;
}
